<h1>Hi!</h1>

<p>To authenticate your account, please visit the following link</p>

<a href="{{ url('app_activate', {token: authToken}) }}">{{ url('app_activate', {token: authToken}) }}</a>


<p>Cheers!</p>
